[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/return-to-libc/hugo-theme-terminal
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/return-to-libc/hugo-theme-terminal.git
